@page
@using Website.Configuration
@model Website.Pages.Blog.IndexModel
@{
   ViewData["Title"] = "Blog";
}

<div class="container">
   <div class="row">
      <div class="col">
         <h1 class="display-4 mb-4 text-center">Development Blog</h1>
         <h4 class="text-center">
            Welcome to my personal development blog,
            as you've stumbled upon this place i hope it helps you solve a problem, learn something new or just generally interests you.
         </h4>
      </div>
   </div>
   <div class="row">
      <div class="col-2 mt-4">
         <h4 class="">Category</h4>
         <ul class="list-unstyled">
            @foreach (var category in Model.Categories)
            {
               <li>
                  <a href="/blog?category=@Html.Encode(category)">@category.MakeUiFriendly()</a>
               </li>
            }
         </ul>

         <h4 class="mt-4">Tags</h4>
         <ul class="list-unstyled">
            @foreach (var tag in Model.Tags)
            {
               <li>
                  <a href="/blog?tag=@Html.Encode(tag)">@tag.MakeUiFriendly()</a>
               </li>
            }
         </ul>
      </div>
      <div class="col-10">
         @foreach (var post in Model.BlogPosts)
         {
            <article class="mt-4">
               @if (post.HasImage)
               {
                  <div class="mb-2">
                     <a href="@post.PostUrl">
                        <div class="w-100; blog-post-image" style="background-image: url('@post.ImageUrl');"></div>
                     </a>
                  </div>
               }
               <h3 class=""><a href="@post.PostUrl">@post.Title</a></h3>
               <p class="mt-2">@post.Description</p>
            </article>
         }
      </div>
   </div>
</div>