@page "/Blog/Post/{*postName}"
@model Website.Pages.Blog.PostModel
@{
   ViewData["Title"] = @Model.Post.Title;
}

<div class="container">
   <div class="row">
      <div class="col-2 mt-4">
         <h4 class="">Category</h4>
         <ul class="list-unstyled">
            @foreach (var category in Model.Categories)
            {
               <li>
                  <a href="/blog?category=@Html.Encode(category)">@category.MakeUiFriendly()</a>
               </li>
            }
         </ul>

         <h4 class="mt-4">Tags</h4>
         <ul class="list-unstyled">
            @foreach (var tag in Model.Tags)
            {
               <li>
                  <a href="/blog?tag=@Html.Encode(tag)">@tag.MakeUiFriendly()</a>
               </li>
            }
         </ul>
      </div>

      <div class="col-10">
         <article class="mt-4">
            @if (Model.Post.HasImage)
            {
               <div class="mb-2">
                  <a href="@Model.Post.PostUrl">
                     <div class="w-100; blog-post-image" style="background-image: url('@Model.Post.ImageUrl');"></div>
                  </a>
               </div>
            }
            <h1 class="display-4 text-center"><a href="@Model.Post.PostUrl">@Model.Post.Title</a></h1>
            <markdown class="mt-4" text="@Model.Post.Content"></markdown>
         </article>
      </div>
   </div>
</div>

@section Scripts {
   <link rel="stylesheet"
         href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">
   <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>

   <script>hljs.initHighlightingOnLoad();</script>
}